div.container {

    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 48px;
    padding-right: 48px;

    background-color: #fafafa;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 15%;

}

div.container[data-panel-expanded='true'] {

    filter: blur(1.2px);

}

@media(max-width: 1366px) {

    div.container {

        gap: 0 10%;

    }

}

@media(max-width: 1020px) {

    div.container {

        grid-template-columns: 100%;

    }

}

@media(max-width: 510px) {

    div.container {

        padding-left: 24px;
        padding-right: 24px;
    }

}

@media(max-width: 455px) {

    div.container {

        padding-left: 8px;
        padding-right: 8px;
    }

}

.container section#first-content {

    display: flex;
    flex-direction: column;
    gap: 40px;

}

@media(max-width: 1020px) {

    .container section#first-content {

        padding-bottom: 24px;

    }

}

.container section#first-content .img_container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;

    position: relative;

    max-width: 720px;

    top: 0;

}

.container section#first-content .img_container button {

    cursor: pointer;

    height: 100%;
    width: 10%;

    position: absolute;

    z-index: 1;

    background-color: var(--black-50);

}

.container section#first-content .img_container svg {

    transform: scale(1.4);

    fill: var(--white);

}

.container section#first-content .img_container button:hover svg {

    fill: var(--secondary) !important;

}

.container section#first-content .img_container button:first-child {

    left: 0%;

    background: linear-gradient(to right, var(--black-50), transparent);

    border: none;
    border-radius: 16px 0px 0px 16px;

    outline: none;

}

.container section#first-content .img_container button:last-child {

    right: 0%;

    background: linear-gradient(to left, var(--black-50), transparent);

    border: none;
    border-radius: 0px 16px 16px 0px;

}

.container section#first-content .img_container img {

    width: max-content;
    background-color: rgb(169, 252, 213);
    border-radius: 16px;

}

@media((min-width: 768px) and (max-width: 1020px)) {

    .container section#first-content .img_container img {

        width: 95% !important;
        height: auto;

    }

}

section#first-content .pet_info h1 {

    margin-bottom: 24px;

    text-align: center;

    color: var(--primary);

}

section#first-content .pet_info .details {

    padding: 16px;

    background-color: var(--primary-75);
    border-radius: 4px;

}

section#first-content .pet_info .details p {

    margin-bottom: 16px;

    color: var(--white);
    font-weight: 600;

}

section#first-content .pet_info .details p:last-child {

    margin-bottom: 0;

}

.container section#first-content h2 {

    font-size: var(--fs-heading4);

}

.container section#first-content .singularities {

    background-color: var(--black-5);
    box-shadow: 9px 9px 10px 2px var(--black-25);

    padding: 32px 64px;

    border-radius: 8px;

}

@media(max-width: 1020px) {

    .container section#first-content .singularities {

        padding: 32px 40px;
        background-color: var(--white);

    }

}

@media(max-width: 520px) {
    .container section#first-content .singularities {
        padding: 24px 16px;
    }
}

.container section#first-content .singularities ul {

    display: grid;
    justify-items: flex-start;
    justify-content: center;
    align-items: center;
    gap: 16px 20%;
    grid-template-columns: 1fr 1fr;

}

@media(max-width: 520px) {
    .container section#first-content .singularities ul {

        gap: 16px 5%;
    }
}

.container section#first-content .singularities ul li {

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--black);

}

.container section#first-content .singularities ul li:nth-child(even) {

    justify-self: flex-end;

}

@media(max-width: 1020px) {

    .container section#first-content .singularities ul li {

        margin: 8px 0;

    }

}

.container section#first-content .singularities ul li svg {

    transform: scale(2);


    fill: var(--secondary);
    margin-right: 8px;

}


.container #second-content {

    position: relative;

    z-index: 1;

    height: fit-content;

    padding: 40px 54px;

    background-color: var(--white-75);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 9px 9px 10px 2px var(--black-25);

}

div#second-content::before {

    content: '';
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    border-radius: 8px;

    opacity: 0.2;

    background-image: url(/imgs/pet/bcg_desk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media(max-width: 1020px) {

    .container #second-content {

        padding: 16px 40px;

    }

}

@media(max-width: 560px) {

    .container #second-content {

        padding: 16px;

    }

}

h2.heading2_color {

    color: var(--secondary);

}

.heading2_size {

    font-size: var(--fs-heading3);

}

.container #second-content .text {

    margin-bottom: 52px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container #second-content .text:first-child h2 {

    /* font-size: 2.666rem; */

    margin-bottom: 32px;

}

.container #second-content .text:first-child p {

    font-size: var(--small-1);
    font-weight: 500;

}

.container #second-content .reward {

    padding: 16px;

    gap: 32px 0;

    border-radius: 4px;
    background-color: var(--primary-75);

}

.container #second-content div.text.reward h2 {

    /* margin-bottom: 32px; */

    font-size: var(--fs-heading4);

    color: var(--white);
    font-weight: 600;

}

.container #second-content .reward p {

    font-size: var(--fs-heading4);

    color: var(--white);
    font-weight: 600;

    line-height: 1;

}

@media(max-width: 1020px) {

    .container #second-content .reward {

        width: 80%;

    }

}

@media(max-width: 520px) {

    .container #second-content .reward {

        width: 100%;

    }

}

.container #second-content div.button {

    width: 100%;

}

.container #second-content div.button button {

    cursor: pointer;

    width: 100%;

    background: var(--secondary);

    padding: 16px 0;

    border: none;
    border-radius: 20px;

    font-size: var(--small-1) !important;

    color: var(--white);

}

.container #second-content div.button button:hover {

    transition: all ease 100ms;
    transform: scale(1.05);

}

.container #description {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 24px;

}

.container #description h2 {

    margin-bottom: 8px;

    font-size: var(--fs-heading5);

}

.container #description p {

    box-shadow: 9px 9px 10px 2px var(--black-25);

    width: 100%;
    min-height: 200px;

    padding: 16px;

    border-radius: 8px;
    background-color: var(--black-5);

    text-align: justify;

}

/* EXPANDED PANEL */

.expand_false_found_pet_owner_contact {

    display: none;

}

.expand_true_found_pet_owner_contact {

    position: fixed;
    z-index: 9999;

    top: 10%;
    bottom: 10%;
    left: 25%;
    right: 25%;

    padding: 16px 32px;

    display: flex;
    justify-content: space-between;

    background: linear-gradient(to bottom right, rgb(255 151 0 / 80%), rgb(255 122 61 / 78%));
    background-color: rgb(255, 255, 255);

    border-radius: 16px;

    box-shadow: 6px 6px 0px 0px var(--black-50);

    display: flex;
    flex-direction: column;

}

@media(max-width: 1024px) {

    .expand_true_found_pet_owner_contact {

        left: 15%;
        right: 15%;

    }

}

@media(max-width: 768px) {

    .expand_true_found_pet_owner_contact {

        left: 5%;
        right: 5%;

    }

}

@media(max-width: 425px) {

    .expand_true_found_pet_owner_contact {

        padding: 16px 8px;

        left: 2%;
        right: 2%;

    }

}

.expand_true_found_pet_owner_contact input[type='radio']{

    cursor: pointer;

}

.expand_true_found_pet_owner_contact h1,
.expand_true_found_pet_owner_contact p,
.expand_true_found_pet_owner_contact label,
.expand_true_found_pet_owner_contact button {

    color: var(--white);

}

.expand_true_found_pet_owner_contact h1 {

    margin-bottom: 24px;
    text-align: center;
    font-size: var(--fs-heading3);

}

.expand_true_found_pet_owner_contact>p {

    margin-bottom: 32px;
    font-size: var(--small-1);

}

.expand_true_found_pet_owner_contact form {

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: 16px;

}

div.a[data-pet-has-collar='true']{

    display: block;

}

div.a[data-pet-has-collar='false']{

    display: none;

}


.expand_true_found_pet_owner_contact form::-webkit-scrollbar {

    width: 8px;

}

.expand_true_found_pet_owner_contact form::-webkit-scrollbar-track {

    background: var(--black-25);

}

.expand_true_found_pet_owner_contact form::-webkit-scrollbar-thumb {

    background: var(--black-50);

}

.expand_true_found_pet_owner_contact form>div {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

}

.expand_true_found_pet_owner_contact form>div label {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

    width: 90%;

}

.expand_true_found_pet_owner_contact form div.radio_inputs {

    display: flex;
    flex-direction: row;

    width: 100%;

}


.expand_true_found_pet_owner_contact form div.radio_inputs label {

    align-items: center;

}


.expand_true_found_pet_owner_contact form div.radio_inputs label input {

    accent-color: var(--secondary);

    height: 16px;
    border-radius: 0;

}

.expand_true_found_pet_owner_contact form>div label input {

    width: 100%;
    margin-top: 8px;

    padding: 8px;

    border: 1px solid var(--black-25);
    outline: none;
    border-radius: 4px;

}


.expand_true_found_pet_owner_contact form .confirmValues label {

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.expand_true_found_pet_owner_contact form .confirmValues label input {

    width: 24px;
    height: 24px;

    accent-color: var(--secondary);

}


.expand_true_found_pet_owner_contact form .submitButton button:first-child {

    cursor: pointer;

    margin-top: 16px;
    margin-bottom: 16px;

    width: 80%;

    padding: 16px 32px;

    border: none;
    outline: none;
    border-radius: 16px;

    background-color: var(--secondary);

    color: var(--white);

}

.expand_true_found_pet_owner_contact form .submitButton button:first-child:hover {

    transition: all ease-in 150ms;

    transform: scale(1.02);
    box-shadow: 3px 3px 0px 0px var(--black-50);

}

.expand_true_found_pet_owner_contact form .submitButton button:last-child {

    cursor: pointer;

    width: 50%;

    text-decoration: underline;

    /* font-size: 1rem; */

    background-color: transparent;
    border: none;
    border-radius: 16px;
    padding: 8px;

}

.expand_true_found_pet_owner_contact form .submitButton button:last-child:hover {

    background-color: var(--black-10);

}