.nav_options ul {

    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 0 24px;
    justify-content: center;
    align-items: center;

}

@media(max-width: 768px) {

    .nav_options ul {

        margin: 24px 0;

        gap: 16px 24px;
        grid-template-columns: 45% 45%;
    }
}

@media(max-width: 492px) {

    .nav_options ul {

        margin: 24px 0;

        gap: 16px 0;
        grid-template-columns: 90%;
    }
}
