/* each of these divs has a different SVG */
div.form_container[data-pet='DOG']::before,
div.form_container[data-pet='CAT']::before,
div.form_container[data-pet='OTHER']::before {

    top: 25%;
    left: 0;

    min-height: 100%;
    width: 100%;

    content: '';

    opacity: 0.06;

    position: fixed;
    z-index: 1;

    background-position: left;
    background-repeat: no-repeat;
    background-size: 60%;

}

div.form_container[data-pet='CAT']::before {

    background-image: url(../../../public/imgs/svg/cat.svg);

}

div.form_container[data-pet='DOG']::before {

    background-image: url(../../../public/imgs/svg/dog.svg);

}

div.form_container[data-pet='OTHER']::before {

    background-image: url(../../../public/imgs/svg/cat.svg);

}

form.step3_form {

    position: relative;

    margin-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;

}

form.step3_form>div, form.step3_form>section {

    margin: 16px 0;
    width: 40%;

}

@media(max-width: 1024px) {

    form.step3_form>div, form.step3_form>section {
        width: 80%;
    }
}

@media(max-width: 768px) {

    form.step3_form>div, form.step3_form>section {
        width: 100%;
    }
}


form.step3_form>p {

    margin-top: 32px;
    margin-bottom: 24px;

    font-size: clamp(18px, 2vw + 18px, 32px);

    color: var(--secondary);

}

form.step3_form>a {

    text-decoration: underline;

    color: var(--secondary);

}

form.step3_form>p:first-child {

    margin-top: 0;

}

form.step3_form .number_contact {

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}


form.step3_form .number_contact div:first-child {

    width: 25%;

}

form.step3_form .number_contact div:last-child {

    width: 70%;

}

form.step3_form>div span svg {

    height: 35px;
    width: 100%;

}

form.step3_form>div span:first-child svg {

    fill: rgb(107, 107, 255);

}

form.step3_form>div span:last-child svg {

    fill: pink;

}

.step3_form span.img_placeholder {

    margin: 16px 0;

    width: 200px;
    height: 200px;

    border-radius: 20%;

    border: 2px solid var(--black-10);
    background-color: var(--black-25);

}

form.step3_form div.reward_flex_row {

    padding: 8px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid var(--secondary); */
    border-radius: 4px;

}

form.step3_form div.reward_flex_row label {

    cursor: pointer;

    display: flex;
    flex-direction: column;

}

form.step3_form div.reward_flex_row input {

    accent-color: var(--secondary);

    width: auto;
    height: 18px;

}

form.step3_form div.reward_flex_row svg {

    width: auto;
    height: 45px;

    fill: var(--white);

}


form.step3_form div.set_reward label {

    color: var(--secondary);

}


form.step3_form div.set_reward label small {

    color: initial;

}

form.step3_form>div label {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: var(--secondary);

}

form.step3_form>div>label>small {

    margin-top: 16px;
    margin-bottom: 0;

    color: initial;

}

form.step3_form>h2:first-child {

    margin: 16px 0;

    color: var(--secondary);

}

form.step3_form>h2 {

    margin: 16px 0;

    color: var(--secondary);
    /* font-size: 2.6rem; */

}

form.step3_form>section {

    padding: 16px;

    background: var(--brand-gradient);
    /* border: 1px solid var(--primary); */

    border-radius: 8px;

}


form.step3_form>section>div:not(:first-child) {

    margin-top: 8px;

}

form.step3_form>section label {

    color: var(--white);

}

form.step3_form>div.pet_photo label, form.step3_form>div.more_info {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form.step3_form div.checkbox_lost_pet label {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 16px;

    background-color: var(--white);

    border: 2px solid var(--secondary);
    border-radius: 10px;

    color: var(--black);
    /* font-size: 2rem; */

}

form.step3_form div.checkbox_lost_pet label input {
    cursor: pointer;

    margin-top: 0;
    margin-left: 8px;

    accent-color: var(--secondary);

    width: 24px;
    height: 24px;

}

form.step3_form input, form.step3_form select {

    width: 100%;

    margin-top: 8px;
    padding: 16px 8px;

    outline: none;

    background-color: var(--white);
    border: 2px solid var(--black-10);
    border-radius: 4px;

    /* font-size: 1.6rem;
    font-weight: 400; */

}

form.step3_form>div.more_info label {

    width: 100%;

    color: var(--secondary);

}

form.step3_form textarea {

    width: 100%;

    margin-top: 16px;
    padding: 16px;

    outline: none;

    border: 2px solid var(--black-10);
    border-radius: 8px;

    /* font-size: 1.6rem;
    font-weight: 600; */
    font-family: inherit;

}