.nav_options ul {

    margin: 24px 0;
    display: grid;
    grid-template-columns: repeat(2, 49%);

    gap: 16px 0;
    justify-content: space-between;
    align-items: center;

}

@media(min-width: 490px) {

    .nav_options ul {

        margin: 24px 0;

        gap: 16px 24px;
        grid-template-columns: 45% 45%;
        justify-content: center;

    }
}

@media(min-width: 768px) {
    .nav_options ul {

        grid-template-columns: repeat(3, 25%);
        gap: 0 24px;

    }
}