.footer, .footer nav, .footer nav div * {

    color: var(--white-75);

}

.footer {

    position: relative;
    top: 0;
    z-index: 1000;
    height: 100%;

    flex-direction: column;
    align-items: center;

    background-color: var(--primary);

    justify-content: center;
    width: 100%;

}

.footer>nav {

    width: 100%;

    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

@media(max-width: 890px) {

    .footer nav {

        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;

    }

}

@media(max-width: 768px) {

    .footer nav {
        padding: 0;

        align-items: center;
        justify-content: space-between;

    }


    .footer nav .container_1 {

        /* width: 100% !important; */
        flex-direction: column;
        align-items: flex-start;

    }

    .footer nav .container_1 div:last-child {

        margin-left: 24px;

        width: fit-content;
    }

}

@media(max-width: 690px) {

    .list {

        margin: 0 20px !important;

    }

}

@media(max-width: 760px) {

    .footer nav {

        width: 100%;
        flex-direction: column;

    }

    .footer nav div {

        width: 100%;

        margin: 10px 0;

    }

    .footer nav div h1 {

        font-size: 2rem !important;

    }

}

.container_1 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.footer nav>div:nth-child(1), .footer nav>div:nth-child(3) {

    margin-bottom: 40px;

}

.footer nav div.brand_text {

    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer nav div.mobile_brand_text {

    display: none;

}

@media(max-width: 768px) {

    .footer nav div.brand_text {

        display: none;

    }

    .footer nav div.mobile_brand_text {

        display: flex;
        flex-direction: column;

        width: 80% !important;

        margin: 16px 32px !important;

    }

    .footer nav div.mobile_brand_text svg {

        transform: scale(1.2);
        margin-bottom: 16px;

    }

    .footer nav div.mobile_brand_text p {

        margin-top: 16px;

    }
}

.footer nav div.brand_text p {

    margin-top: 40px;

    font-family: Poppins, inherit;
    line-height: 30px;

}

.footer nav div.social_media {

    width: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

@media(max-width: 768px) {

    .footer nav div.social_media {

        justify-content: center;
        gap: 32px;

    }

}

.footer nav div.social_media a {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;
}

.footer nav div.social_media a:hover {

    transition: all ease-in 100ms;
    margin-top: -10px;

}

.footer nav div.social_media svg {

    transform: scale(1.4);
    height: 20px;
    width: 20px;

    fill: var(--black);

}

.footer .links {

    padding: 0 32px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 32px;

}

@media(max-width: 768px) {

    .footer .links {

        padding: 0;
        flex-direction: column;
        gap: 16px;

    }

}

.footer .links>div {

    min-height: 140px;
    min-width: 150px;
    max-width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

@media(max-width: 768px) {

    .footer .links>div {

        max-width: 100%;

        padding: 0 16px;

    }

}

.footer .links h6 {

    margin-bottom: 16px;

    color: var(--white);

}

.footer .links>div li li {

    font-size: 1rem;
    color: var(--black-75);

}

.footer .links li li:hover a {
    transition: all ease-in-out 60ms;

    color: var(--white);
    border-bottom: 1px solid var(--white);

}

.footer small {

    margin-top: 15px;

    display: block;
    text-align: center;

    font-size: 0.8rem;
    font-weight: 400;

}