.header {

    background-color: var(--primary);
    z-index: 9999;
    position: relative;

}

.header * {
    color: var(--white);
}

div.logo svg {

    cursor: pointer;

    transform: scale(1.4);

}

.header>nav {

    margin-left: 85px;
    margin-right: 85px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 16px;

}

@media((min-width: 200px) and (max-width: 425px)) {

    .header> nav {

        width: 100%;

        margin: 0;

    }

}

@media((min-width: 426px) and (max-width: 768px)) {

    .header>nav {

        margin-left: 0px;
        margin-right: 0px;

    }

}

@media((min-width: 769px) and (max-width: 1024px)) {

    .header>nav {

        padding: 16px 0;

        margin-left: 40px;
        margin-right: 40px;

    }

}

.header>nav .links, .header>nav .links ul.list {

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

}

@media(max-width: 784px) {

    .header>nav .links {

        display: none;

    }

}

.header>nav .links>* {

    margin: 0 16px;

}

@media((min-width: 426px) and (max-width: 1024px)) {

    .header>nav .links>* {

        margin: 0 8px;

    }
    
}

.header>nav .links>*:last-child {

    margin-left: 16px;
    margin-right: 0px;

}

.header>nav .links ul.list li {

    margin: 0 16px;

}


.header>nav .links ul.list li a {

    font-size: 0.9rem;
    font-weight: bold;

}

.header span.line {

    height: 30px;
    width: 1px;

    border-left: 1px solid var(--white-50);

}


@media(max-width: 1023px) {

    .header span.line {

        display: none;

    }

}

.header .login_desktop {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-image: var(--brand-gradient);

    border-radius: 24px;

}

.header .login_desktop:hover {

    transition: all ease-in 100ms;
    filter: saturate(90%);

}

.header .login_desktop a {

    display: flex;
    align-items: center;
    padding: 12px 20px;

    border-radius: 24px;
}

.header .login_desktop svg {

    margin-right: 8px;

}

@media(max-width: 768px) {

    div.logo svg {
        transform: scale(1.2);
    }
}

.list li:hover a, .drawer_sidebar_mobile ul li:hover a {
    transition: all ease-in-out 60ms;

    color: var(--white);
    border-bottom: 2px solid var(--white);

}


.header span.login {

    cursor: pointer;

}

.header .login_desktop a:hover span {

    border-bottom: 2px solid var(--white);

}

.header span.login svg {

    margin-right: 5px;
    fill: var(--white);

}

div.drawer_sidebar_mobile {

    display: none;

}

/*  MOBILE CSS */
@media(max-width: 784px) {

    div.drawer_sidebar_mobile {

        display: flex;

    }

}

@media(max-width: 784px) {
    div.login_desktop {

        display: none;

    }

    div.drawer_sidebar_mobile button {

        height: 40px;
        width: 40px;

        border: none;

        background: var(--brand-gradient);
        padding: 8px;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    div.drawer_sidebar_mobile button svg {

        fill: var(--white);
        transform: scale(1.4);

    }

    .drawer_sidebar_mobile li {

        border-bottom: 1px solid var(--black-5);

    }

    .drawer_sidebar_mobile li:last-child {

        border-bottom: 0;

    }
}