.container {

    max-width: 780px;

    margin: 0 8px;
    padding: 8px 0;

}

.container a:hover {

    text-decoration: underline;

}

@media(min-width: 768px) {

    .container {

        margin: 0 auto;

    }

}

.container>h1 {

    font-size: var(--fs-heading2);
    color: var(--black-50);

}

.container>p {

    margin-bottom: 16px;
    color: var(--black-75);

}

.notifications ul {

    display: flex;
    flex-direction: column;

    gap: 8px;

}

.notifications>ul>li {

    padding: 8px;

    background-color: var(--white);
    border-radius: 4px;

}

@media(min-width: 360px) {

    .notifications>ul>li {

        padding: 16px;

    }

}

.notifications>ul>li {

    box-shadow: 3px 3px 9px 1px var(--black-25);

}

.notifications div#no_notifications {

    margin-top: 24px;
    padding: 16px;

    background-color: var(--black-10);
    border-radius: 8px;

}

.notifications div#no_notifications p {}

.notifications .heading {

    display: flex;
    align-items: center;

}


.notifications .heading h2 {

    font-size: var(--fs-heading3);

}

.notifications .heading svg {

    margin-right: 16px;

    width: 40px;
    height: 40px;

}

.notifications .heading a {

    color: var(--secondary);

}

.notifications .body {

    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

}


.notifications .body h3 {

    margin-top: 16px;

    color: var(--secondary);
    font-size: var(--fs-heading5);
    line-height: 1.5;

}


.notifications .body li {

    display: flex;
    flex-direction: column;

    margin: 8px 0;

}

.notifications .body li b {

    color: var(--secondary);

}

.notifications .body button {

    padding: 8px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    border: 2px solid;

    background-color: var(--white);
    color: var(--primary);

    font-size: var(--small-1);
    font-weight: 500;

}

.notifications .body button svg {

    margin-left: 8px;

}

.notifications .body button[aria-expanded='true'] {

    transform: scale(1.02);

    background-color: var(--secondary);
    color: var(--white);

}

.notifications .body button:hover {

    transition: all ease 150ms;

    border-color: var(--secondary);

    background-color: var(--secondary);
    color: var(--white);

}

.notifications .body button.ignore_button {

    color: var(--error);

}

.notifications .body button.ignore_button:hover {

    transition: all ease 150ms;

    border-color: var(--error);
    background-color: var(--error);
    color: var(--white);

}

.notifications .body button.ignore_button[aria-expanded='true'] {

    background-color: var(--error);
    color: var(--white);

}

.notifications .body .ignore_notification_panel {

    display: flex;
    flex-direction: column;

    padding: 16px 8px;

    border-radius: 8px;

}


.notifications .body .ignore_notification_panel h4 {

    margin-bottom: 16px;

    font-size: var(--small-1);
    color: var(--error);

}


.notifications .body .ignore_notification_panel button.confirm_button {

    margin-bottom: 16px;

    border-color: var(--error);
    color: var(--error);

}

.notifications .body .ignore_notification_panel button.confirm_button:hover {

    background-color: var(--error);
    color: var(--white);

}

.notifications .body .ignore_notification_panel button.cancel_button {

    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--white);

}

.notifications ul li small {

    margin-top: 16px;
    margin-right: 16px;

    color: var(--black-50);
    font-weight: 600;

    display: block;
    text-align: right;

}

/*  CONTACTS PANEL */

.body ul.who_found_contacts {

    animation: slow_apear forwards 1100ms;
    position: relative;
    top: 0;

    padding: 8px 16px;

    background-color: var(--black-5);
    border-radius: 8px;

}

@keyframes slow_apear {

    0% {
        opacity: 0;
        top: -250px;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0;
    }

}


.body ul.who_found_contacts li {

    margin: 0;

}

.body ul.who_found_contacts a {

    padding: 8px 0;

    display: inline-flex;
    flex-direction: row;
    align-items: center;

    font-weight: 500;

}


.body ul.who_found_contacts a:hover svg {

    transition: all ease 150ms;
    transform: scale(1.5);

}

.body ul.who_found_contacts svg {

    margin-right: 16px;

    display: block;
    transform: scale(1.3);

}