.container {

    max-width: 1440px;
    min-height: inherit;

    padding: 8px;
    margin: 0 auto;

    background-color: #f3f3f3;

}

@media((min-width: 560px) and (max-width: 1020px)) {

    .container {

        padding: 16px 32px;

    }

}

@media(min-width: 1020px) {

    .container {

        padding: 16px 48px;

        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 3fr;

    }

    .container>* {

        max-width: 1440px;

    }

}

/* INPUT STYLES FOR THE WHOLE PAGE */
.container input[type='text'] {

    padding: 8px 0px;
    padding-left: 8px;

    border-radius: 4px;
    border: 2px solid var(--black-25);

}

@media((min-width: 350px) and (max-width: 560px)) {

    .container input[type='text'] {

        padding: 12px 12px;
        padding-left: 8px;

        font-size: var(--fs-heading6);

    }

}

/* END */

section.user_info_wrapper {

    padding: 32px 0;

    display: grid;
    gap: 10px;
    justify-items: center;
    grid-template-areas:
        "img user"
        "button button";

}

@media((min-width: 560px) and (max-width: 1020px)) {

    section.user_info_wrapper {

        grid-template-areas:
            "img user"
            "img button";

    }

}

@media(min-width: 1020px) {

    section.user_info_wrapper {

        display: flex;
        flex-direction: column;

    }
}

.user_info_wrapper #profile_img {

    grid-area: img;
    background-color: var(--black-5);
    border-radius: 50%;

}

@media((min-width: 560px) and (max-width: 768px)) {

    .user_info_wrapper span:has(#profile_img) {

        grid-area: img;
        height: 180px !important;
        width: 180px !important;

    }

}

@media((min-width: 768px) and (max-width: 1020px)) {

    .user_info_wrapper span:has(#profile_img) {

        grid-area: img;
        height: 240px !important;
        width: 240px !important;

        align-self: center;

    }

}

@media(min-width: 1020px) {

    .user_info_wrapper span:has(#profile_img) {

        margin-bottom: 16px !important;

        grid-area: img;
        height: 200px !important;
        width: 200px !important;

        align-self: center;

    }

}

.user_info_wrapper .user_info {

    grid-area: user;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    gap: 8px;

}

@media((min-width: 350px) and (max-width: 1020px)) {

    .user_info_wrapper .user_info {

        width: 100%;

    }

}

.user_info_wrapper .user_info h2 {

    font-size: var(--fs-heading5);
    font-weight: 500;
    color: var(--secondary);
    line-height: 40px;

}

@media((min-width: 560px) and (max-width: 1020px)) {

    .user_info_wrapper .user_info h2 {

        font-size: var(--fs-heading4);
    }

}

@media(min-width:1020px) {

    .user_info_wrapper .user_info h2 {

        margin-bottom: 8px !important;

    }

}


.user_info_wrapper .user_info p {

    align-self: center;

    font-size: var(--small-2);

}

.user_info_wrapper .contacts_mobile_display li {

    width: 100%;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user_info_wrapper .contacts_mobile_display li svg {

    fill: var(--primary);

    transform: scale(1.3);

}

.user_info_wrapper button {

    grid-area: button;
    width: 100%;

    margin-top: 16px;
    padding: 12px 16px;

    font-size: var(--small-1);
    font-weight: 600;

    color: var(--white);

    background-color: var(--secondary);
    border-radius: 8px;
    border: none;

}

@media((min-width: 768px) and (max-width: 1020px)) {

    .user_info_wrapper button {

        max-height: 60px;

    }
}

.user_info_wrapper .contacts_mobile_display {

    display: none;

}

@media(min-width: 1020px) {

    .user_info_wrapper .contacts_mobile_display {

        margin-top: 24px;
        display: block;

    }

    .contacts_mobile_display h3 {

        font-size: var(--fs-heading5);

    }

    .contacts_mobile_display ul {

        padding: 16px;
        background-color: var(--black-5);

    }

}

/* ACTIVITY SECTION */

section.user_activity {

    padding-bottom: 16px;

    background-color: var(--white);
    border-radius: 4px;

}

@media(min-width: 1020px) {

    section.user_activity {

        display: flex;
        background-color: var(--white);
        flex-direction: column;

    }

}

.user_activity nav.tab_container {

    padding: 16px 0;

    display: flex;
    flex-direction: row;
    gap: 0 8px;
    justify-content: center;
    align-items: center;

}

@media(min-width: 1020px) {

    .user_activity nav.tab_container {

        padding: 0;
        padding-left: 10px;

        width: 100%;

        background-color: #f3f3f3;

        justify-content: flex-start;
        align-self: flex-start;

    }

}

nav.tab_container button {

    padding: 12px 6px;
    border-radius: 4px;
    border: none;

    font-size: var(--small-1);
    font-weight: 600;
    color: var(--black-50);
    background-color: var(--black-5);

}

@media((min-width: 350px) and (max-width: 560px)) {

    nav.tab_container button {

        padding: 12px 12px;

    }
}

@media((min-width: 560px) and (max-width: 1020px)) {

    nav.tab_container button {

        padding: 14px 16px;

    }
}

@media(min-width: 1020px) {

    nav.tab_container button {

        padding: 14px 16px;
        border-radius: 4px 4px 0 0;

    }
}

nav.tab_container button[data-tab-activated='true'] {

    background-color: var(--primary);
    color: var(--white);

}

@media(min-width: 1020px) {

    nav.tab_container button[data-tab-activated='true'] {

        background-color: var(--white);
        color: var(--primary);

    }

}

.user_activity .navigation_index_selected {

    display: none;

}

.user_activity .navigation_index_selected[aria-expanded='true'] {

    display: block;

    margin-top: 16px;

}

@media(min-width: 1020px) {

    .user_activity .navigation_index_selected[aria-expanded='true'] {

        margin-top: 24px;
    }

}

.activity_field_container h3 {

    text-align: center;
    font-size: var(--fs-heading5);
    color: var(--primary);

}

@media((min-width: 560px) and (max-width: 1020px)) {

    .activity_field_container h3 {

        font-size: var(--fs-heading4);
    }

}

@media(min-width: 1020px) {

    .activity_field_container h3 {

        margin-left: 24px;
        text-align: start;

    }

}

.activity_field_container ul.list_lost_pets {

    min-height: 200px;
    margin: 0 8px;
    padding: 16px;

    border-radius: 8px;

    background-color: var(--black-10);

}

@media((min-width: 425px) and (max-width: 719px)) {

    .activity_field_container ul.list_lost_pets {

        padding: 8px;

        display: grid;
        gap: 16px 8px;
        grid-template-columns: 1fr 1fr;

    }

}

@media((min-width: 720px) and (max-width: 768px)) {

    .activity_field_container ul.list_lost_pets {

        padding: 8px;

        display: grid;
        gap: 16px 8px;
        grid-template-columns: 1fr 1fr 1fr;

    }

}

.activity_field_container ul.list_lost_pets li:not(:last-child) {

    margin-bottom: 16px;

}

@media((min-width: 425px) and (max-width: 768px)) {

    .activity_field_container ul.list_lost_pets li:not(:last-child) {

        margin-bottom: 0;

    }

}

.activity_field_container ul.list_lost_pets li a.link_pet_page span.custom_border {

    align-self: center;

    width: 200px !important;
    height: 1px !important;

    background-color: var(--black-25);

}

.activity_field_container ul.list_lost_pets li a.link_pet_page {

    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: var(--white);
    border-radius: 4px;

    box-shadow: 4px 4px 6px 0 var(--black-25);

}

@media((min-width: 425px) and (max-width: 768px)) {

    .activity_field_container ul.list_lost_pets li a.link_pet_page {

        height: 100%;

    }

}

@media(min-width: 769px) {

    .activity_field_container ul.list_lost_pets li[data-found='true'] a.link_pet_page {

        flex-direction: row;
        justify-content: space-between;
        gap: 8px;

    }

    .activity_field_container ul.list_lost_pets li[data-found='false'] a.link_pet_page {

        flex-direction: row;
        justify-content: space-between;
        gap: 0 18px;

    }

    /* span IS the Img container */
    .activity_field_container ul.list_lost_pets li a.link_pet_page>span {

        width: 230px !important;
        height: 160px !important;

        box-shadow: px 4px 6px 0 var(--black-25);

    }


    .activity_field_container ul.list_lost_pets li a.link_pet_page span.custom_border {

        align-self: center;

        width: 1px !important;
        height: 140px !important;

        background-color: var(--black-25);

    }

    .activity_field_container ul.list_lost_pets li a.link_pet_page>div {

        width: 32.5%;

    }


}

.activity_field_container ul.list_lost_pets li[data-found=true] a.link_pet_page {

    filter: grayscale(100%);

}

.activity_field_container ul.list_lost_pets li[data-found=true] a.link_pet_page::after {

    position: absolute;
    z-index: 1;

    top: calc(15% + 3vw);
    left: 10%;
    right: 10%;

    padding: 8px;

    content: 'ACHADO!';
    background-color: var(--black-75);
    border: 2px solid var(--black-50);
    border-radius: 8px;

    text-align: center;
    font-size: var(--fs-heading5);
    color: var(--white);

}

@media((min-width: 425px) and (max-width: 768px)) {

    .activity_field_container ul.list_lost_pets li[data-found=true] a.link_pet_page::after {

        top: calc(6% + 3vw);
        left: 10%;
        right: 10%;

    }

}

@media(min-width: 769px) {

    .activity_field_container ul.list_lost_pets li[data-found=true] a.link_pet_page::after {

        top: 35%;
        left: 2%;
        right: calc(65% + 3vw);

    }

}

.activity_field_container ul.list_lost_pets li a.link_pet_page img {

    background-color: rgb(173, 202, 255);

    position: relative;
    top: 0;

}

.activity_field_container ul.list_lost_pets li[data-found=true] img {

    filter: blur(1.5px) !important;

}

.activity_field_container ul.list_lost_pets li a.link_pet_page div.pet_info {

    padding: 16px 8px;

}

ul.list_lost_pets li a.link_pet_page div.pet_info h4 {

    font-size: var(--fs-heading5);
    color: var(--secondary);

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    overflow: hidden;

}

ul.list_lost_pets li a.link_pet_page div.pet_info p {

    font-size: var(--fs-heading6);
    color: var(--black-75);

}

ul.list_lost_pets li a.link_pet_page div.pet_info p.reward_paragraph {

    margin-top: 8px;

    font-size: var(--small-1);
    font-weight: 600;
    color: var(--tertiary);

}

ul.list_lost_pets li a.link_pet_page div.pet_found_by {

    padding: 16px 8px;

}

ul.list_lost_pets li a.link_pet_page div.pet_found_by * {

    color: var(--black-75);

}

ul.list_lost_pets li a.link_pet_page div.pet_found_by h4 {

    font-size: var(--fs-heading6);

}

ul.list_lost_pets li a.link_pet_page div.pet_found_by h4>a {

    display: inline;

    text-decoration: underline;

}

ul.list_lost_pets li a.link_pet_page div.pet_found_by p {

    margin-top: 8px;

}

@media(min-width: 769px) {

    ul.list_lost_pets li a.link_pet_page div.pet_found_by h4 {

        font-size: var(--small-1);

    }

    ul.list_lost_pets li a.link_pet_page div.pet_found_by p {

        margin-top: 8px;

        font-size: var(--fs-heading6);

    }

}