.grey_block {

    margin: 1rem 0;

    background-color: var(--grey);
    border-radius: 8px;

    height: 40vh;
    width: 80vw;

}

@media(max-width: 720px) {

    .grey_block {
        height: 40vh;
        width: 80vw;
    }

}

.grey_block:first-child {

    height: 20vh;

}

@media(max-width: 720px) {

    .grey_block:first-child {
        height: 20vh;
    }

}