.footer, .footer nav, .footer nav div {

    display: flex;

    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);

}

.footer {

    height: 100%;
    /* height: 40vh; */

    flex-direction: column;
    align-items: center;

    padding: 1.8rem 0;

    background-color: var(--brand-color);

    justify-content: center;
    width: 100%;

}

.footer nav {

    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

}

@media(max-width: 768px) {

    .footer nav {

        justify-content: space-between;

    }

}

@media(max-width: 690px) {

    .list {

        margin: 0 2rem !important;
    }

}

@media(max-width: 425px) {

    .footer nav {

        width: 100%;
        flex-direction: column;

    }

    .footer nav div {

        width: 100%;

    }

    .footer nav div ul {

        width: 80%;

    }

}

.footer nav div {

    width: inherit;

    flex-direction: column;
    align-items: center;

}

.footer nav div h1 {

    margin-bottom: 1rem;

    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white2);

    border-bottom: 2px solid var(--white2);

}


.list {

    margin: 0 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.list li {

    margin: 0.3rem 1rem;


}

.list li:hover a {
    transition: all ease-in-out 60ms;

    color: var(--white);
    border-bottom: 1px solid var(--white);

}

.footer nav>div {

    height: fit-content;

}

.footer small {

    margin-top: 2rem;

    font-size: 1.4rem;
    font-weight: 600;

}
@media(max-width: 425px) {

    .footer small {
        font-size: 1.2rem;

    }

}