.header, .header nav, .list, .logo, span.login {

    display: flex;
    flex-direction: row;

}

.header, .header nav, .list {

    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white);

}

.header {

    height: 12vh;

    padding: 1.8rem 0;

    background-color: var(--brand-color);

    justify-content: center;
    width: 100%;

}

div.logo svg{

    cursor: pointer;

    transform: scale(1.4);

}
@media(max-width: 768px) {

    div.logo svg{
        transform: scale(1.2);
    }
}

.header nav {

    align-items: center;

}

@media(max-width: 768px) {

    .header nav {

        width: 95%;
        justify-content: space-between;

    }

}

.list {

    margin: 0 8rem;

}

@media(max-width: 768px) {

    .list {

        display: none;

    }

}

.list li {

    margin: 0 1rem;
}

.list li:hover a, .drawer_sidebar_mobile ul li:hover a, .header .login_desktop:hover a {
    transition: all ease-in-out 60ms;

    color: var(--white);
    border-bottom: 2px solid var(--white);

}

.header nav>div {

    height: fit-content;

}

.header span.login{

    cursor: pointer;

    color: var(--white);

}

.header .login_desktop a:hover span{

    border-bottom: 2px solid wheat;

}

.header span.login svg{

    margin-right: 0.5rem;
    fill: var(--white);

}

div.drawer_sidebar_mobile {

    display: none;

}

/*  MOBILE CSS */
@media(max-width: 768px) {
    div.login_desktop {

        display: none;

    }
    div.drawer_sidebar_mobile {

        display: flex;
        

    }
    div.drawer_sidebar_mobile button{

        margin-right: 0.5rem;
        transform: scale(1.2);

        background-color: transparent;

        border: none;

    }
    div.drawer_sidebar_mobile button svg{

        fill: var(--white);
        transform: scale(1.2);
    
    }
    .drawer_sidebar_mobile li{

        border-bottom: 1px solid #dddddd8a;

    }
    .drawer_sidebar_mobile li:last-child{

        border-bottom: 0;

    }
}