.loading, .container, .pet_first_info, section.more_info {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container>section {

    width: 100%;

}

section.img_and_first_details {

    min-height: 80vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

@media(max-width: 726px) {


    section.img_and_first_details {

        height: auto;

        flex-direction: column;

    }

}


section.img_and_first_details>div {

    padding: 1rem;

}


section.img_and_first_details .info {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

section.img_and_first_details .pet_first_info h1 {

    margin-bottom: 2rem;

    font-size: 3.6rem;
    font-weight: 600;
    color: var(--orange);

}

section.img_and_first_details .pet_first_info p {

    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: 1.6rem;
    font-weight: 400;
    color: var(--light-orange);

}


section.img_and_first_details .pet_first_info p span {

    font-size: 2rem;
    font-weight: 600;
    color: var(--orange);

}

section.img_and_first_details .pet_first_info .contacts {

    margin-top: 1.5rem;
    padding: 1rem;

    background-color: var(--lighter-orange);

    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


section.img_and_first_details .pet_first_info .contacts h2 {

    font-size: 2rem;
    font-weight: 600;

    color: var(--black4);

}

section.img_and_first_details .pet_first_info .contacts p {

    margin-top: 1rem;

    font-size: 1.8rem;
    font-weight: 400;
    color: var(--orange);

}

section.img_and_first_details .pet_first_info .contacts ul {

    width: 100%;

    background-color: var(--white);

    border-radius: 4px;

    margin: 1rem 0;

    padding: 1rem 0;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;

}


section.img_and_first_details .pet_first_info .contacts ul li svg {

    transform: scale(1.4);

}


section.img_and_first_details .pet_first_info .contacts ul li svg:hover {

    transition: all ease-in-out 100ms;
    transform: scale(1.6);

}

section.img_and_first_details .pet_first_info .contacts button {

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--orange);
    border: 2px solid transparent;

    outline: 0;

    margin: 1.5rem 0;
    padding: 0.5rem 2rem;

    border-radius: 4px;

    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);

}

section.img_and_first_details .pet_first_info .contacts button:hover {

    transition: all ease-in 100ms;
    transform: scale(1.05);

    box-shadow: 5px 5px 10px 0px var(--grey2);

}

section.img_and_first_details .pet_first_info .contacts button svg {

    width: 5rem;
    height: 5rem;

    margin-right: 1rem;

}

/* SECOND SECTION */

section.more_info {

    justify-content: space-evenly;

    margin: 1rem 0;

    min-height: 40vh;

    background-color: var(--orange);

}

@media(max-width: 768px) {


    section.more_info {
        padding: 2rem 0;
    }

}

section.more_info>h2 {

    font-size: 3.2rem;
    font-weight: 600;
    color: var(--white);

}

@media(max-width: 768px) {


    section.more_info>h2 {

        display: flex;
        justify-content: center;

        width: 90%;
        font-size: 2.6rem;

        margin-bottom: 1.5rem;
    }

}

section.more_info>p {

    width: 80%;

    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);

}

/* THIRD SECTION */

section.suggestions {

    min-height: 40vh;

    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


section.suggestions>h2 {

    font-size: 3.2rem;
    font-weight: 600;
    color: var(--orange);

}

@media(max-width: 768px) {

    section.suggestions>h2 {

        display: flex;
        justify-content: center;

        width: 90%;
        font-size: 2.6rem;

        margin-bottom: 1.5rem;

    }
}

section.suggestions>ul {

    width: 80%;

    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

@media(max-width: 768px) {

    section.suggestions>ul {
        overflow: auto;
        justify-content: initial;
        align-items: initial;
    }
}

section.suggestions>ul>li {

    margin: 0 1rem;

}

section.suggestions>ul>li img {

    border-radius: 4px;

}


section.suggestions>ul>li:hover {

    transition: all ease 150ms;
    transform: scale(1.1);

}